/* Main Styles*/

body {
font-family: "Roboto", sans-serif;
color:  #434455;
background-color: #fff;
}

/* Reset*/
a {
text-decoration: none;
}

ul,ol {
list-style-type: none;
margin: 0;
padding-left: 0;
}

img {
display: block;
max-width: 100%;
}

h1,h2,h3,h4,h5,h6,p {
margin: 0;
}

/* Common*/
.container {
max-width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
}

/* Header*/

.header {
align-items: center;
border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
}

.nav {
display: flex;
align-items: center;
}

.header-box { 
justify-content: space-between; 
align-items: center; 
flex-direction: row; 
width: 1158px; 
padding: 0 15px; 
display: flex; 
} 

.logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17em;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.logo-header {
color: #2e2f42;
margin-right: 76px;
}

.nav-list {
display: flex;
align-items: center;
gap: 40px;
}

.nav-link {
display: block;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 24px 0;
transition: color 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
position: relative;
}

.nav-link.current::after {
content:"";
width: 100%;
position: absolute;
left: 0;
bottom: -1px;
height: 4px;
background-color: #404bbf;
border-radius: 2px;
}
.nav-link:hover, 
.nav-link:focus, 
.nav-link.current,
.address-link:hover,
.address-link:focus { 
color: #404bbf; 
} 

.address {
font-style: normal;
text-align: center;
}

.address-list {
display: flex;
flex-wrap: wrap;
gap: 40px;
}

.address-link {
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
transition: color 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Hero Section*/
.hero { 
margin: auto;
background-color:#2E2F42; 
padding: 188px 0; 
background-image: linear-gradient(
to bottom, rgba(46,47,66,0.7), rgba(46,47,66,0.7)
),
url(../images/hero-img.jpg);
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
max-width: 1440px;
} 

.hero-content {
text-align: center;
margin:auto
}

.hero-title { 
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
color: #fff;   
max-width: 496px;
margin: auto;
margin-bottom: 48px;
} 

.hero-button { 
border: 0;
display: block;
margin: auto;
font-family: 'Roboto', sans-serif; 
font-style: normal; 
font-weight: 500;   
line-height: 1.5;   
letter-spacing: 0.04em; 
color: #fff; 
cursor: pointer;
padding: 16px 32px;
gap: 10px;
border-radius: 4px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
border-width: 0px;
min-width: 169px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

button:hover, 
button:focus { 
background-color: #404bbf; 
} 

/* Styles for sections */ 
.hidden-header {   
position: absolute; 
width: 1px; 
height: 1px; 
margin: -1px; 
border: 0; 
padding: 0;     
white-space: nowrap; 
clip-path: inset(100%); 
clip: rect(0 0 0 0); 
overflow: hidden;     
} 

.features {
padding: 120px 0;
}

.section-header {     
color: #2e2f42; 
text-align: center; 
font-size: 36px; 
font-weight: 700; 
line-height: 1.11; 
text-transform: capitalize; 
letter-spacing: 0.02em; 
margin-bottom: 72px;
} 

.section-header-item { 
color: #2e2f42; 
font-size: 20px; 
font-weight: 500; 
line-height: 1.2; 
letter-spacing: 0.02em; 
margin-bottom: 8px;
} 

.section-text { 
line-height: 1.5; 
letter-spacing: 0.02em; 
}

.features-list {
display: flex;
gap: 24px;
}

.features-icon {
border: 1px solid #8e8f99;
border-radius: 4px;
width: 264px;
height: 112px;
background:  #f4f4fd;
margin-bottom: 8px;
display: flex;
justify-content: center;
align-items: center;
}

.features-item {
width: calc(((100% - 72px)/ 4));
}

.our-team {    
background-color: #f4f4fd;   
text-align: center; 
padding: 120px 0;
} 

.team-card { 
text-align: center; 
width: calc((100% - 72px) / 4);
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
background-color:  #fff
} 

.our-team-list {
display: flex;
justify-content: space-evenly;
gap: 24px;
flex-wrap: wrap;
}
.team-card-description {
padding: 32px 0px;
}
.team-card-soc-links {
display: flex;
justify-content: center;
gap: 24px;
margin-top: 8px;
}
.team-soc-link-item {
width: 40px;
height: 40px;
}
.team-soc-link {
background-color: #4d5ae5;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
border-radius: 50%;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-card-soc-item {
fill:#f4f4fd;
}
.team-soc-link:hover,
.team-soc-link:focus {
background-color: #404bbf;
}

.portfolio {
padding-top: 120px;
padding-bottom: 120px;
}

.portfolio-list {
display: flex;
justify-content: center;
align-items: center;
gap: 48px 24px;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
}

.portfolio-list-item {
width: calc((100% - 48px)/ 3);
box-shadow: none;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item-description {
padding: 32px 16px;
}

.portfolio-item-box {
position: relative;
overflow: hidden;
}


.portfolio-item-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;    
background-color: #4d5ae5;
padding: 40px 32px;
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-item-text,
.portfolio-list-item:focus .portfolio-item-text {
transform: translateY(0%);   
}

.portfolio-border {
border: 1px solid #e7e9fc;
border-top: none;
}

/* Footer*/

.footer {
background-color: #2e2f42;
padding: 100px 0;
}

.footer-position {
display: flex;
align-items: baseline;
} 

.footer-info{
margin-right: 120px;
}

.footer-link {
max-width: 264px;
margin-right: 120px;
}

.footer-link {
display: inline-block;
margin-bottom: 16px;
}

.logo-footer {
color: #f4f4fd;
}

.footer-text {
color:#f4f4fd; 
line-height: 1.5; 
letter-spacing: 0.02em;
width: 264px; 
}

.soc-media-text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
}

.footer-soc-media {
width: 208px;
}

.footer-soc-links-list {
display: flex;
justify-content: center;
gap: 16px;
}

.footer-soc-link-item {
display: flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
}

.footer-soc-link {
background-color: #4d5ae5;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
border-radius: 50%;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
background-color: #31d0aa;
}

.footer-soc-icon {
fill:#f4f4fd
}